
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h2>Autenticação de Usuários</h2>

<br>
<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    UserNames: <input type="text" ng-model="user"><br><br>
    Senha: <input type="password" ng-model="pass"><br><br>
    <button ng-click="doPost()">LOGIN</button><br><br><br>
  </form>
  <h6>Ainda não tem um cadastro? <a href="usuariosCad.html">Cadastre-se</a><br><br>
</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // POST
  $scope.doPost = function() {
     $scope.result = "";
     var url = "/authentication";
     var data = {"user": $scope.user, "pass": $scope.pass};
     var request = $http({
                 "method": "post",
                 "url": url,
                 "data": data});
     request.success(function(reply, status) {
        $scope.result = $scope.user;
        var newWindow=window.open("/filmes.html?id_pass=" + data.id, "_blank");
        }
      );
      request.error(function(reply, status) {
	alert("Falha de autenticação");
       }
     );
   };
   
  }

  
);
</script> 

</body>
</html>

