<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<br>

<div ng-app="myApp" ng-controller="myCtrl">

    <h1>{{titulo}}</h1>
 
    <br><br>
 
    <div id="logar">
        <form>
            Username: <input type="text" ng-model="userField"><br><br>
            Senha: <input type="password" ng-model="pass"><br><br>
            <button ng-click="doPost()">LOGIN</button><br><br><br>
        </form>
        <br><br>
        <br><br>
        <h6>Ainda não tem um cadastro? <a href="cadastro.html">Cadastre-se</a><br><br>
    </div>

    
    <div id="barra">
        <a href="javascript:void(0)" data-ng-click="goHome()">Início</a> &nbsp;
        <a href="javascript:void(0)" data-ng-click="listar()">Minha lista</a> &nbsp;
        <a href="javascript:void(0)" data-ng-click="logout()">Logout</a> &nbsp; <!-- TODO logout -->
    </div>

    <br><br>
    
    <div id="inicio">
        <form>
            Busca por título: <input type="text" ng-model="barraPesquisa"> &nbsp;
            <button ng-click="busca()">BUSCA</button> &nbsp;
        </form>
        
        <a href="javascript:void(0)" id="Ação" data-ng-click="filtrar($event)"> Ação</a> &nbsp;
        <a href="javascript:void(0)" id="Comédia" data-ng-click="filtrar($event)"> Comédia</a> &nbsp;
        <a href="javascript:void(0)" id="Drama" data-ng-click="filtrar($event)"> Drama</a> &nbsp;
        <a href="javascript:void(0)" id="Ficção" data-ng-click="filtrar($event)"> Ficção</a> &nbsp;
        <a href="javascript:void(0)" id="Romance" data-ng-click="filtrar($event)"> Romance</a> &nbsp;
        <a href="javascript:void(0)" id="Terror" data-ng-click="filtrar($event)"> Terror</a> &nbsp;
        <a href="javascript:void(0)" id="Lançamento" data-ng-click="lancamento()"> Lançamentos</a> &nbsp;

        <br><br>
        {{mensagem}}  <!-- Displaying results -->
        <br><br>
        
        <table cellspacing="8"> <!-- table with all the movies --> 
            <tr ng-repeat="filme in filmes"> <!-- each row has information about a movie -->
        
                <!-- first column: movie poster -->
                <td>
                    <img src="{{ filme.poster }}" alt="{{ filme.titulo }}" style="width:135px;height:185px;" >
                </td>
            
                <!-- second columm: movie details -->
                <td>
                    <table cellspacing="8">
                        <tr><td>Titulo: {{ filme.titulo }}</td><tr>
                        <tr><td>Generos: {{ filme.generos }}</td></tr>
                        <tr><td><a href="javascript:void(0)" id="{{ filme.id }}" data-ng-click="goToDetails($event)"> Detalhes</a> </td></tr>
                    </table>
                </td>
            </tr>
        </table>
        
    </div>

    <div id="lista">
        {{mensagem}}
    
        <table cellspacing="8"> <!-- movie list -->
            <tr ng-repeat="item in lista"> <!-- each row has movie title and score -->
                <td>Titulo: {{ item.titulo }}</td>
                <td>Nota: {{ item.nota }}</td>
                <td><a href="javascript:void(0)" id="{{ item.filmeId }}" data-ng-click="removerNota($event)"> Remover nota</a> </td>
            </tr>
        </table>
    </div>
    
    <div id="detalhes">
    
    {{mensagem}}

    <p style="display: none;">Teste nota : {{mensagem3}}</p>
  
    <br><br>
  
    <table cellspacing="8" >

        <tr>
            <td>  <img src="{{ filme.poster }}" alt="{{ filme.titulo }}" style="width:300px;height:450px;" ></td>

            <td>
      
            <table  cellpadding="20">
                <tr> <td><h1>{{filme.titulo}}</h1></td> </tr>
                <tr> <td>{{hdiretor}} {{filme.diretor}}  </td> </tr>
                <tr> <td>{{hgeneros}} {{filme.generos}}  </td> </tr>
                <tr> <td>{{hdata}} {{filme.ano}}  </td> </tr>
                <tr> <td>{{hsinopse}} {{filme.sinopse}} </td> </tr>
      
            </table>

            </td>
        </tr>
    </table>
  
    <form id="darNota" style="display: none;">
    Nota: (entre 1 e 5):
    <input type="number" ng-model="notaDada">
    <button ng-click="darNotaFilme()">Dar nota</button> &nbsp;
    </form>  

    <p id="mostrarNota" style="display: none;"> Nota: {{nota}} </p>
    
    </div>

    
</div>


<script>
var app = angular.module('myApp', []);
//Service to get data when page loads
app.service('dataService', function($http){
    
    this.getData = function(callbackFunction){
       
        $http({
            "method": "get", "url": "/filmes"
        }).success(function(reply) {
            callbackFunction(reply);
        }).error(function() {
            reply.resultado = "Houve um problema na requisição. Tente novamente mais tarde."
            callbackFunction(reply);
        });
    }
});
app.controller('myCtrl', function($scope, $http, dataService) {
    
    dataService.getData(function(reply){
        document.getElementById('barra').style.display='none';
        document.getElementById('logar').style.display='block';
        document.getElementById('inicio').style.display='none';
        document.getElementById('lista').style.display='none';
        document.getElementById('detalhes').style.display='none';
        $scope.titulo = "Filmes"
        if(reply.filmes != null) {
            $scope.filmes = reply.filmes;
            if ($scope.filmes.length == 0){
                $scope.mensagem = "Não há filmes disponíveis";
            } else {
                $scope.mensagem = "";
            }
        } else {
            $scope.mensagem = reply.resultado;
            $scope.filmes = [];
        }
    });

    $scope.goHome = function(){
        
        $scope.prepareForHome();
        
        var request = $http({
                "method": "get", "url": "/filmes"
        }).success(function(reply) {
            $scope.titulo = "Filmes"
            if(reply.filmes != null) {
                $scope.filmes = reply.filmes;
                if ($scope.filmes.length == 0){
                    $scope.mensagem = "Não há filmes disponíveis";
                } else {
                    $scope.mensagem = "";
                }
            } else {
                $scope.mensagem = reply.resultado;
                $scope.filmes = [];
            }
        }).error(function() {
            reply.resultado = "Houve um problema na requisição. Tente novamente mais tarde."
            callbackFunction(reply);
        });
    };
    
    // Listing movies added to personal list 
    $scope.listar = function() {
        
        $scope.prepareForList();
            
        var request = $http({"method": "get", "url": "/usuarios/" + $scope.user.id}); //TODO remove id fixo
        request.success(function(reply) {
            if(reply.usuario != null) {
                $scope.lista = reply.usuario.lista;
                $scope.user = reply.usuario;
                if ($scope.lista.length == 0) {
                    $scope.mensagem = "Sua lista ainda está vazia"; //TODO remove
                }
            } else {
                $scope.mensagem = reply.resultado;
            }
        });
    
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    };
    
    $scope.goToDetails = function(data) {
    
        $scope.prepareForDetails();

        document.getElementById('darNota').style.display='none'; //TODO to tentando fazer isso. descomentar o codigo da ruim...
        document.getElementById('mostrarNota').style.display='none';
        var request = $http({"method": "get",
                             "url": "/filmes/" + data.target.id});
        
        request.success(function(reply) {
            
            if(reply.resultado != "Filme inexistente" && reply.resultado != "Falha de acesso ao banco de dados") {

                $scope.filme = reply.filme;

                $scope.hdata = "Data:";
                $scope.hdiretor = "Direção:";
                $scope.hgeneros = "Gêneros:";
                $scope.hsinopse = "Sinopse: ";
            
                //TODO LOGICA PARA PEGAR A NOTA
                var request2 = $http({ "method":"get", "url":"/usuarios/" + $scope.user.id}); //TODO remove fixo
                request2.success(function(reply2) {
                    if(reply2.resultado != "Falha de acesso ao banco de dados" && reply2.resultado != "usuario inexistente") {
                        $scope.user = reply2.usuario;
                        $scope.listaFilmesUsuario = reply2.usuario.lista;
                        var aux = 0;
                        for (i =0; i < reply2.usuario.lista.length; i++) {
                            if(reply2.usuario.lista[i].filmeId == $scope.filme.id) {
                                $scope.nota = reply2.usuario.lista[i].nota;
                                aux = 1;
                            }
                        }

                        if(aux == 1) {
                            document.getElementById('mostrarNota').style.display='block'; //mostra a nota...
                            document.getElementById('darNota').style.display='none';
                        } else {
                            document.getElementById('darNota').style.display='block'; //da opcao de ver nota...
                            document.getElementById('mostrarNota').style.display='none';
                        }
                    } else {
                        $scope.mensagem = reply2.resultado;
                    }
                });
                request2.error(function(reply2) {
                    $scope.mensagem = "Falha na requisicao de usuarios";
                });

            } else {
                $scope.mensagem = reply.resultado;
            }
        });
        request.error(function(reply) {
            alert("Falha na requisicao de filmes");
        });
    };
    
    $scope.darNotaFilme = function() {
        if($scope.notaDada > 5 || $scope.notaDada < 1) {
            alert("Nota inserida não é válida(Notas válidas são números entre 1 e 5)");
            $scope.mensagem = "Nota inserida não é válida(Notas válidas são números entre 1 e 5). Insira a nota novamente.";
        } else {
            var novaLista = new Array();
            for (i = 0; i < $scope.listaFilmesUsuario.length; i++) {
                novaLista.push($scope.listaFilmesUsuario[i]);        
            }
            var novaNota = {
                "filmeId": $scope.filme.id,
                "titulo": $scope.filme.titulo,
                "nota": $scope.notaDada,
                "poster":$scope.filme.poster
            }
            novaLista.push(novaNota);
        
            $scope.user.lista = novaLista;
            $scope.mensagem3 = $scope.user;

            var request = $http({"method": "put",
                                 "url": "/usuarios/" + $scope.user.id, //TODO remove fixo
                                 "data": {"usuario" : $scope.user}});
        
            request.success(function(reply) {
                if (reply.resultado == "SUCESSO"){
            
                    document.getElementById('mostrarNota').style.display='block'; //mostra a nota...
                    document.getElementById('darNota').style.display='none'; //da opcao de ver nota...
                
                    $scope.nota = $scope.notaDada;
                } else {
                    $scope.mensagem = reply.resultado;
                }
            });
        
            request.error(function(reply) {
                $scope.mensagem = "Falha na requisicao";
            });
        }
    };

    
    
    
    // Searching movies by name
    $scope.busca = function() {
        $scope.prepareForHome();
    
        if ($scope.barraPesquisa == undefined || $scope.barraPesquisa.length == 0) {
            $scope.mensagem = "Preencha o campo de busca";
            return;
        }
    
        var data = {"busca": $scope.barraPesquisa };
        var request = $http({"method": "post", "url": "/filmes", "data": data});
        request.success(function(reply) {
            $scope.mensagem = reply.resultado;
            $scope.filmes = reply.filmes;
        });
    
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    };
    // Filtering movies by genre
    $scope.filtrar = function(data) {
    
        $scope.prepareForHome();
        var data = {"filtro": data.target.id };
        var request = $http({"method": "post", "url": "/filmes", "data": data});
        request.success(function(reply) {
            $scope.mensagem = reply.resultado;
            $scope.filmes = reply.filmes;
        });
    
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    };
    
    // Getting recent movies
    $scope.lancamento = function(data) {
    
        $scope.prepareForHome();
        
        var data = {"lancamento": "2017" };
        var request = $http({"method": "post", "url": "/filmes", "data": data});
        request.success(function(reply) {
            $scope.mensagem = reply.resultado;
            $scope.filmes = reply.filmes;
        });
    
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    };
    // Remove score
    $scope.removerNota = function(data) {
        var novaLista = new Array();
        for (i = 0; i < $scope.lista.length; i++) {
            if ($scope.lista[i].filmeId != data.target.id){
                novaLista.push($scope.lista[i]);
            }
        }
        $scope.user.lista = novaLista;
        $scope.prepareForList();
        
        var request = $http({"method": "put",
                             "url": "/usuarios/"  + $scope.user.id, //TODO remove fixo
                             "data": {"usuario" : $scope.user}});
        
        request.success(function(reply) {
            if (reply.resultado == "SUCESSO"){
                $scope.mensagem = "Nota removida";
                $scope.lista = reply.usuario.lista;
            } else {
                $scope.mensagem = reply.resultado;
            }
        });
        
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    
    };
    $scope.prepareForList = function() {
        document.getElementById('barra').style.display='block';
        document.getElementById('inicio').style.display='none';
        document.getElementById('lista').style.display='block';
        document.getElementById('logar').style.display='none';
        document.getElementById('detalhes').style.display='none';
        $scope.clear("Filmes de " + $scope.user.username);
    };
    
    $scope.prepareForHome = function() {
        document.getElementById('barra').style.display='block';
        document.getElementById('inicio').style.display='block';
        document.getElementById('lista').style.display='none';
        document.getElementById('logar').style.display='none';
        document.getElementById('detalhes').style.display='none';
        $scope.clear("Filmes");
    };

    $scope.prepareForLogin = function() {
        document.getElementById('barra').style.display='none';
        document.getElementById('inicio').style.display='none';
        document.getElementById('lista').style.display='none';
        document.getElementById('logar').style.display='block';
        document.getElementById('detalhes').style.display='none';
        $scope.clear("Filmes");
    };

    $scope.prepareForDetails = function() {
        document.getElementById('barra').style.display='block';
        document.getElementById('inicio').style.display='none';
        document.getElementById('lista').style.display='none';
        document.getElementById('logar').style.display='none';
        document.getElementById('detalhes').style.display='block';
        $scope.clear("Filmes");
    };
    
    // LOGOUT
    $scope.logout = function() {
        $scope.clear();
        var request = $http({"method": "delete", "url": "/authentication"});
        request.success(function(reply) {
            $scope.user = []
            $scope.prepareForLogin();
            $scope.mensagem = reply.resultado;
          //  window.open("/auth.html", "_blank");
        });
    };
    
    $scope.doPost = function() {
        $scope.result = "";
        var url = "/authentication";
        if ($scope.userField == null || $scope.pass == null){
            alert("Campos não preenchidos");
            return;
        }
        var data = {"user": $scope.userField, "pass": $scope.pass};
        var request = $http({"method": "post",
                             "url": url,
                             "data": data});
        request.success(function(reply, status) {
            if (reply.user != null){
                $scope.userField = reply.user.senha
                $scope.user = reply.user
                $scope.result = "success"
                $scope.goHome();
            } else {
                $scope.result = reply.resultado;
            }
        });
        request.error(function(reply, status) {
            c
        });
    };
    
    // CLEAR
    $scope.clear = function(titulo) {
        $scope.filmes = [];
        $scope.lista = [];
        $scope.mensagem = "";
//        $scope.user = [];
        $scope.titulo = titulo;
    };
});
</script> 

</body>
</html>
