<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>

</head>
<body>

<h1>Visualização de filmes</h1>


     <!-- <div id="darNot2a" >
        
       
            <form id="damn">
                Nota: (entre 1 e 5):
                <input type="number" name="quantity" min="1" max="5">
            </form>
        
      </div>-->


<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    ID: <input type="text" ng-model="id"><br><br>

    <!--Curso: <input type="text" ng-model="curso"><br><br>-->
    <button ng-click="acessa()">ACESSA</button> &nbsp;

  </form>

  
  
  <br><br>
  Resultado: {{mensagem}}

  
  <br><br>
  <table cellspacing="8" >

    <tr >


      <td>  <img src="{{ filme.poster }}" alt="{{ filme.titulo }}" style="width:300px;height:450px;" ></td>
      
      
      <td>
      
      <table  cellpadding="20">
      <tr> <td><h1>{{filme.titulo}}</h1></td> </tr>
      <tr> <td>{{hdiretor}} {{filme.diretor}}  </td> </tr>
      <tr> <td>{{hgeneros}} {{filme.generos}}  </td> </tr>
      <tr> <td>{{hdata}} {{filme.ano}}  </td> </tr>
      <tr> <td>Sinopse: {{filme.sinopse}} </td> </tr>

       
        <tr><td>

        </td></tr>
      
      
      </table>
        


      </td>
    </tr>
  </table>

</div>


<div id="darNota"> 
<form>
    Nota: (entre 1 e 5):
    <input type="number" name="quantity" min="1" max="5">
</form>  
</div>



<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // ACESSA
  $scope.acessa = function() {
     //document.getElementById('darNota').style.display='none'; //TODO to tentando fazer isso. descomentar o codigo da ruim...

     var url = "/filmes/" ;
     if ($scope.id != undefined) url = "/filmes/" + $scope.id;
     var request = $http({
                 "method": "get",
                  "url": url});
     request.success(function(reply) {
        $scope.mensagem = reply;
        if(reply != null) {
          $scope.filme = reply.filme;

          $scope.hdata = "Data:"
          $scope.hdiretor = "Direção:"
          $scope.hgeneros = "Gêneros:"
         

          //$scope.mensagem = ;
          //$scope. = reply;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };


  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);
</script> 

</body>
</html>
