<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
	<!--<style type="text/css">
		body {
			background: black;
			color: white;
		}
		div {
		max-width: 500px;

		border: 20px solid white;
		padding: 10px;
	
		}
		
		

	</style>-->
</head>
<body>

<h1>Visualização de filmes</h1>


<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    ID: <input type="text" ng-model="id"><br><br>

    <!--Curso: <input type="text" ng-model="curso"><br><br>-->
    <button ng-click="acessa()">ACESSA</button> &nbsp;

  </form>

  <br><br>
  Resultado: {{mensagem}}
  
  <br><br>
  <table cellspacing="8">
    <tr>  <th>{{htitulo}}</th> <th>{{helenco}}</th> <th>{{hdiretor}}</th>  </tr>
    <tr ng-repeat="x in filme">

      <td>{{ x.titulo }}</td>
      
      <td> {{x.elenco}} </td>
      <td>{{x.diretor}}</td>
      
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // ACESSA
  $scope.acessa = function() {
     var url = "/filmes/" ;
     if ($scope.id != undefined) url = "/filmes/" + $scope.id;
     var request = $http({
                 "method": "get",
                  "url": url});
     request.success(function(reply) {
        $scope.mensagem = reply;
        if(reply != null) {
          $scope.filme = reply.filme;
          $scope.htitulo = "titulo"
          $scope.helenco = "elenco"
          $scope.hdiretor = "diretor"
          //$scope.mensagem = ;
          //$scope. = reply;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };


  // CLEAR
  $scope.clear = function() {
    $scope.alunos = [];
    $scope.mensagem = "";
    $scope.hra = $scope.hnome = $scope.hcurso = "";
    }
  }
);
</script> 

</body>
</html>
