<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Lista de filmes</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    Busca por título: <input type="text" ng-model="id"><br><br>
    <button ng-click="acessa()">TODOS</button> &nbsp;
    <button ng-click="insere()">BUSCA</button> &nbsp;
  <!--  <button ng-click="atualiza()">ATUALIZA</button> &nbsp;
    <button ng-click="remove()">REMOVE</button> &nbsp; -->
  </form>

  <br><br>
  {{mensagem}}  <!-- Displaying results -->
  
  <br><br>
    <table cellspacing="8"> <!-- table with all the movies -->  
        
        <tr> <!-- table header -->
            <th></th>
            <th>{{cabecalhoTabela}}</th>
        </tr>
        
        <tr ng-repeat="filme in filmes"> <!-- each row has information about a movie. The number of rows is defined by the number of movies -->
        
            <!-- first column: movie poster -->
            <td>
                <img src="{{ filme.trailer }}" alt="{{ filme.titulo }}" style="width:135px;height:185px;" >
            </td>
            
            <!-- second columm: movie details -->
            <td>
                <table cellspacing="8">
                    <tr><td>Id: {{ filme.id }}</td></tr>
                    <tr><td>Titulo: {{ filme.titulo }}</td><tr>
                    <tr><td>Generos: {{ filme.generos }}</td></tr>
                    <tr><td><a href="http://localhost:3000/filmes/{{ filme.id }}"> Detalhes </a> </td></tr>
                </table>
            </td>
        </tr>
            
    </table>

</div>


<script>
var app = angular.module('myApp', []);

//Service to get data when page loads
app.service('dataService', function($http){
    
    this.getData = function(callbackFunction){
       
        $http({
            "method": "get", "url": "/filmes"
        }).success(function(reply) {
            callbackFunction(reply);
        }).error(function() {
            reply.resultado = "Houve um problema na requisição. Tente novamente mais tarde."
            callbackFunction(reply);
        });
    }
});

app.controller('myCtrl', function($scope, $http, dataService) {
    
    dataService.getData(function(reply){
        if(reply.filmes != null) {
            $scope.cabecalhoTabela = "Informações";
            $scope.mensagem = "";
            $scope.filmes = reply.filmes;
        } else {
            $scope.cabecalhoTabela = "";
            $scope.mensagem = reply.resultado;
            $scope.filmes = [];
        }
    });
    
    // ACESSA 
    $scope.acessa = function() {
        
        $scope.clear();
                
        //if ($scope.id != undefined) url = "/lista/" + $scope.id;
        var request = $http({"method": "get", "url": "/filmes"});
        request.success(function(reply) {
            if(reply.filmes != null) {
                $scope.cabecalhoTabela = "Informações";
              //$scope.mensagem = "";
                $scope.filmes = reply.filmes;
            } else {
                $scope.mensagem = reply.resultado;
            }
        });
    
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    };
    
  //  $scope.acessa();

    // INSERE
    $scope.insere = function() {
    
        $scope.clear();
    
        if ($scope.id == undefined || $scope.id.length == 0) {
            $scope.mensagem = "Preencha o campo acima";
            return;
        }
    
        var data = {"busca": $scope.id };
        var request = $http({"method": "post", "url": "/filmes", "data": data});
        request.success(function(reply) {
            $scope.mensagem = reply.resultado;
            $scope.filmes = reply.filmes;
        });
    
        request.error(function(reply) {
            alert("Falha na requisicao");
        });
    };
    

  // ATUALIZA
  /*
  $scope.atualiza = function() {
     $scope.clear();
     if (($scope.id == undefined || $scope.id.length == 0) ||
         ($scope.nome == undefined || $scope.nome.length == 0) &&
         ($scope.curso == undefined || $scope.curso.length == 0)) {
             $scope.clear();
             $scope.mensagem = "preencha  id e pelo menos um campo acima";
             return;
     }
     var data = {"id": $scope.id,
                 "nome": $scope.nome,
                 "curso": $scope.curso};
     var request = $http({
                 "method": "put",
                 "url": "/filmes/" + $scope.id,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       //   $scope.filmes = reply.filmes;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };

  */
  
  // REMOVE
  /*
  $scope.remove = function() {
     $scope.clear();
     if ($scope.id == undefined || $scope.id.length == 0) {
         $scope.clear();
         $scope.mensagem = "preencha o id do aluno";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/filmes/" + $scope.id});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       });
   };
*/
   
    // CLEAR
    $scope.clear = function() {
        $scope.filmes = [];
        $scope.mensagem = "";
        $scope.cabecalhoTabela = "";
    };
});
</script> 

</body>
</html>
