<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Dados de Usuarios</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
  	ID: <input type="text" ng-model="id"><br><br>
    UserName: <input type="text" ng-model="username"><br><br>
    email: <input type="text" ng-model="email"><br><br>
    Senha: <input type="text" ng-model="senha"><br><br>
    <button ng-click="acessa()">ACESSA</button> &nbsp;<br><br>
    <button ng-click="goFilme()">Filme</button> &nbsp;<br><br>
    <button ng-click="doLogout()">LOGOUT</button> &nbsp;<br><br>
    <button ng-click="atualiza()">ATUALIZAR</button> &nbsp;
    <button ng-click="remove()">REMOVER</button> &nbsp;
  </form>

  <br><br>
  Resultado: {{mensagem}}
  
  <br><br>
  <table cellspacing="8">
    <tr> <th>{{hid}}</th> <th>{{husername}}</th>  <th>{{hemail}}</th>  <th>{{hsenha}}</th> </tr>
    <tr ng-repeat="x in usuarios">
      <td>{{ x.id }}</td>
      <td>{{ x.username }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.senha }}</td>
    </tr>
  </table>



<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {


//vai para lista de filmes
 $scope.goFilme = function() {
     window.open("/lista.html", "_blank");
  }
  
  // LOGOUT
  $scope.doLogout = function() {
     $scope.clear();
     var request = $http({
                 "method": "delete",
                 "url": "/authentication"});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         window.open("/auth.html", "_blank");
         
     }
   );
 };

  // ACESSA
  $scope.acessa = function() {
     var url = "/usuarios";
     if ($scope.id != undefined) url = "/usuarios/" + $scope.id;
     var request = $http({
                 "method": "get",
                  "url": url});
     request.success(function(reply) {
        if(reply.usuarios != null) {
          $scope.hid = "id";
          $scope.husername = "UserName";
          $scope.hemail = "email";
          $scope.hsenha = "senha";
          $scope.mensagem = "";
          $scope.usuarios = reply.usuarios;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

    // REMOVE
  $scope.remove = function() {
     $scope.clear();
     if ($scope.id == undefined || $scope.id.length == 0) {
         $scope.clear();
         $scope.mensagem = "preencha o ID do aluno";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/usuarios/" + $scope.id});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
   };

  
   // ATUALIZA
  $scope.atualiza = function() {
     $scope.clear();
      if (($scope.id == undefined || $scope.id.length == 0) ||
          ($scope.username == undefined || $scope.username.length == 0) &&
          ($scope.email == undefined || $scope.email.length == 0) &&
          ($scope.senha == undefined || $scope.senha.length == 0)) {
             $scope.clear();
             $scope.mensagem = "preencha  ID e pelo menos um campo acima";
             return;
     }
     var data = {"id": $scope.id,
                  "username": $scope.username,
                  "email": $scope.email,
                  "senha": $scope.senha};
     var request = $http({
                 "method": "put",
                 "url": "/usuarios/" + $scope.id,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };
   
   
   
  // CLEAR
  $scope.clear = function() {
    $scope.usuarios = [];
    $scope.mensagem = "";
    $scope.hid = $scope.husername = $scope.hemail = $scope.hsenha = "";
    }
  }
);
</script> 

</body>
</html>
